<?xml version="1.0"?>
<options>
  <general>
    <account>Z6712fc2931b253a2de84874</account>
    <auto_away>180</auto_away>
    <minimize_to_tray>false</minimize_to_tray>
    <minimize_on_close>true</minimize_on_close>
    <record_calls>false</record_calls>
    <record_path>/home/{{ so_user }}/.Zoiper5</record_path>
    <record_filename>recorded_conversation_{YYYY}-{MM}-{DD}-{HH}_{NN}_{SS}_part{recording_part}</record_filename>
    <record_format>wav</record_format>
    <record_mode>mixed</record_mode>
    <record_new_file_after_unhold>false</record_new_file_after_unhold>
    <record_single_file>false</record_single_file>
    <always_on_top>false</always_on_top>
    <reject_anonymous_calls>false</reject_anonymous_calls>
    <auto_reject_calls>false</auto_reject_calls>
    <reject_call_on_invisible>false</reject_call_on_invisible>
    <reject_call_on_away>false</reject_call_on_away>
    <reject_call_on_busy>false</reject_call_on_busy>
    <reject_call_on_phone>false</reject_call_on_phone>
    <reject_call_on_lunch>false</reject_call_on_lunch>
    <reject_call_on_brb>false</reject_call_on_brb>
    <new_call_auto_popup>true</new_call_auto_popup>
    <new_call_blink>true</new_call_blink>
    <command_line_call_auto_popup>false</command_line_call_auto_popup>
    <command_line_call_blink>false</command_line_call_blink>
    <check_for_updates>true</check_for_updates>
    <catch_protocol_requests>true</catch_protocol_requests>
    <start_with_os>true</start_with_os>
    <start_minimized>false</start_minimized>
    <use_custom_browser>false</use_custom_browser>
    <custom_browser></custom_browser>
    <on_transfer_request_style>reject</on_transfer_request_style>
    <open_url_from_network>false</open_url_from_network>
    <automatic_open_url_from_network>false</automatic_open_url_from_network>
    <error_message_options/>
  </general>
  <audio>
    <selected_input_device>
      <use_default>true</use_default>
      <name></name>
    </selected_input_device>
    <selected_output_device>
      <use_default>true</use_default>
      <name></name>
    </selected_output_device>
    <selected_ringing_device>
      <use_default>true</use_default>
      <name></name>
    </selected_ringing_device>
    <selected_speaker_input_device>
      <use_default>true</use_default>
      <name></name>
    </selected_speaker_input_device>
    <selected_speaker_output_device>
      <use_default>true</use_default>
      <name></name>
    </selected_speaker_output_device>
    <use_mic_boost>false</use_mic_boost>
    <use_echo_cancellation>true</use_echo_cancellation>
    <ring_tone_file></ring_tone_file>
    <pc_speaker_ring>false</pc_speaker_ring>
    <mute_on_early_media>false</mute_on_early_media>
    <ring_when_talking>true</ring_when_talking>
    <disable_dtmf_sounds>false</disable_dtmf_sounds>
    <input_volume>100</input_volume>
    <output_volume>100</output_volume>
    <use_alternate_timer>false</use_alternate_timer>
    <use_auto_mic_selection>false</use_auto_mic_selection>
    <use_agc>true</use_agc>
    <agc_mode>analog</agc_mode>
    <agc_gain>20</agc_gain>
    <use_high_pass_filter>false</use_high_pass_filter>
    <use_pre_amplifier>false</use_pre_amplifier>
    <pre_amplifier_gain>1</pre_amplifier_gain>
    <use_noise_suppression>true</use_noise_suppression>
    <disable_ringing_sound>false</disable_ringing_sound>
  </audio>
  <hid>
    <use_generic_hid>false</use_generic_hid>
    <use_jabra_hid>true</use_jabra_hid>
    <use_plantronics_hid>true</use_plantronics_hid>
    <use_sennheiser_hid>true</use_sennheiser_hid>
    <third_party_hid>
      <whitelist/>
      <blacklist/>
    </third_party_hid>
  </hid>
  <codecs>
    <codec>
      <codec_id>35</codec_id>
      <priority>1</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>7</codec_id>
      <priority>2</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>34</codec_id>
      <priority>3</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>0</codec_id>
      <priority>4</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>6</codec_id>
      <priority>5</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>16</codec_id>
      <priority>6</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>1</codec_id>
      <priority>7</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>39</codec_id>
      <priority>12</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>38</codec_id>
      <priority>15</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>25</codec_id>
      <priority>18</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>28</codec_id>
      <priority>21</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>24</codec_id>
      <priority>22</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>26</codec_id>
      <priority>23</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>29</codec_id>
      <priority>24</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>36</codec_id>
      <priority>25</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>37</codec_id>
      <priority>26</priority>
      <enabled>false</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>31</codec_id>
      <priority>1001</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
    <codec>
      <codec_id>32</codec_id>
      <priority>1002</priority>
      <enabled>true</enabled>
      <bps>0</bps>
      <dtx>false</dtx>
      <vbr>false</vbr>
    </codec>
  </codecs>
  <accounts>
    <account>
      <ident>Z6712fc2931b253a2de84874</ident>
      <name>{{ ramal }}@telefonia.gs.interno</name>
      <save_username>true</save_username>
      <username>{{ ramal }}</username>
      <save_password>true</save_password>
      <password>
</password>
      <register_on_startup>true</register_on_startup>
      <do_not_play_ringback_tones>false</do_not_play_ringback_tones>
      <voicemail_check_extension></voicemail_check_extension>
      <voicemail_transfer_extension></voicemail_transfer_extension>
      <force_rfc3264>false</force_rfc3264>
      <use_kpml>false</use_kpml>
      <use_overlap_dialing>false</use_overlap_dialing>
      <use_custom_ringtone>false</use_custom_ringtone>
      <custom_ringtone_location></custom_ringtone_location>
      <use_custom_certificate>none</use_custom_certificate>
      <custom_certificate_location></custom_certificate_location>
      <custom_certificate></custom_certificate>
      <mwi_subscribe_usage>both</mwi_subscribe_usage>
      <use_number_rewriting>false</use_number_rewriting>
      <number_rewriting_country>BR</number_rewriting_country>
      <number_rewriting_prefix></number_rewriting_prefix>
      <use_strip_dial_chars>true</use_strip_dial_chars>
      <strip_dial_chars> .-()[]{}/</strip_dial_chars>
      <protocol>sip</protocol>
      <SIP_domain>telefonia.gs.interno</SIP_domain>
      <SIP_use_outbound_proxy>false</SIP_use_outbound_proxy>
      <SIP_outbound_proxy></SIP_outbound_proxy>
      <SIP_transport_type>udp</SIP_transport_type>
      <SIP_use_auth_username>false</SIP_use_auth_username>
      <SIP_auth_username></SIP_auth_username>
      <SIP_callerId></SIP_callerId>
      <SIP_callerNumber></SIP_callerNumber>
      <SIP_use_rport>true</SIP_use_rport>
      <SIP_use_rport_media>false</SIP_use_rport_media>
      <SIP_srtp_mode>none</SIP_srtp_mode>
      <SIP_dtmf_style>outband</SIP_dtmf_style>
      <SIP_use_blf>false</SIP_use_blf>
      <SIP_publish_presence>false</SIP_publish_presence>
      <SIP_subscribe_presence>false</SIP_subscribe_presence>
      <SIP_keep_alive_mode>default</SIP_keep_alive_mode>
      <SIP_keep_alive_timeout>30</SIP_keep_alive_timeout>
      <SIP_use_cisco>false</SIP_use_cisco>
      <SIP_cisco_device_name></SIP_cisco_device_name>
      <SIP_remote_calls_pickup_mode>dialog_info</SIP_remote_calls_pickup_mode>
      <SIP_remote_calls_pickup_direct_prefix></SIP_remote_calls_pickup_direct_prefix>
      <enabled_video_fmtp>true</enabled_video_fmtp>
      <codecs>
        <codec>
          <codec_id>35</codec_id>
          <priority>1</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>7</codec_id>
          <priority>2</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>34</codec_id>
          <priority>3</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>0</codec_id>
          <priority>4</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>6</codec_id>
          <priority>5</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>16</codec_id>
          <priority>6</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>1</codec_id>
          <priority>7</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>39</codec_id>
          <priority>12</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>38</codec_id>
          <priority>15</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>25</codec_id>
          <priority>18</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>28</codec_id>
          <priority>21</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>24</codec_id>
          <priority>22</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>26</codec_id>
          <priority>23</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>29</codec_id>
          <priority>24</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>36</codec_id>
          <priority>25</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>37</codec_id>
          <priority>26</priority>
          <enabled>false</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>31</codec_id>
          <priority>1001</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
        <codec>
          <codec_id>32</codec_id>
          <priority>1002</priority>
          <enabled>true</enabled>
          <bps>0</bps>
          <dtx>false</dtx>
          <vbr>false</vbr>
        </codec>
      </codecs>
      <stun>
        <use_stun>default</use_stun>
        <stun_host>stun.zoiper.com</stun_host>
        <stun_port>3478</stun_port>
        <stun_refresh_period>30</stun_refresh_period>
      </stun>
      <zrtp>
        <enabled>false</enabled>
        <hash_algorithms>
          <hash_algorithm>
            <name>S256</name>
            <id>0</id>
            <priority>0</priority>
            <selected>true</selected>
          </hash_algorithm>
          <hash_algorithm>
            <name>S384</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </hash_algorithm>
        </hash_algorithms>
        <cipher_algorithms>
          <cipher_algorithm>
            <name>AES3</name>
            <id>2</id>
            <priority>0</priority>
            <selected>true</selected>
          </cipher_algorithm>
          <cipher_algorithm>
            <name>AES2</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </cipher_algorithm>
          <cipher_algorithm>
            <name>AES1</name>
            <id>0</id>
            <priority>2</priority>
            <selected>true</selected>
          </cipher_algorithm>
        </cipher_algorithms>
        <auth_tags>
          <auth_tag>
            <name>HS32</name>
            <id>0</id>
            <priority>0</priority>
            <selected>true</selected>
          </auth_tag>
          <auth_tag>
            <name>HS80</name>
            <id>1</id>
            <priority>1</priority>
            <selected>true</selected>
          </auth_tag>
        </auth_tags>
        <key_agreement_methods>
          <key_agreement>
            <name>DH2K</name>
            <id>1</id>
            <priority>0</priority>
            <selected>true</selected>
          </key_agreement>
          <key_agreement>
            <name>EC25</name>
            <id>2</id>
            <priority>1</priority>
            <selected>true</selected>
          </key_agreement>
          <key_agreement>
            <name>DH3K</name>
            <id>0</id>
            <priority>2</priority>
            <selected>true</selected>
          </key_agreement>
          <key_agreement>
            <name>EC38</name>
            <id>3</id>
            <priority>3</priority>
            <selected>true</selected>
          </key_agreement>
        </key_agreement_methods>
        <sas_encodings>
          <sas_encoding>
            <name>B256</name>
            <id>1</id>
            <priority>0</priority>
            <selected>true</selected>
          </sas_encoding>
          <sas_encoding>
            <name>B32</name>
            <id>0</id>
            <priority>1</priority>
            <selected>true</selected>
          </sas_encoding>
        </sas_encodings>
      </zrtp>
      <reregistration_mode>default</reregistration_mode>
      <reregistration_time>0</reregistration_time>
      <resubscription_mode>default</resubscription_mode>
      <resubscription_time>0</resubscription_time>
      <send_typing_notification>true</send_typing_notification>
      <rtcp_profile_type>avp</rtcp_profile_type>
      <rtp_collision_resolution>moderate</rtp_collision_resolution>
    </account>
  </accounts>
  <sip_options>
    <port>5060</port>
    <use_random_port>true</use_random_port>
    <tls_certificate_file></tls_certificate_file>
    <override_domain_name>false</override_domain_name>
    <domain></domain>
    <use_domain_certificate>false</use_domain_certificate>
    <domain_certificate_file></domain_certificate_file>
    <use_only_strong_cipher>false</use_only_strong_cipher>
    <protocol_suite>tlsv1_2</protocol_suite>
  </sip_options>
  <iax_options>
    <port>4569</port>
    <use_random_port>true</use_random_port>
  </iax_options>
  <rtp_options>
    <port>8000</port>
    <use_random_port>true</use_random_port>
    <session_name>Z</session_name>
    <user_name>Z</user_name>
    <url>https://www.zoiper.com</url>
    <email>support@zoiper.com</email>
  </rtp_options>
  <stun>
    <use_stun>default</use_stun>
    <stun_host>stun.zoiper.com</stun_host>
    <stun_port>3478</stun_port>
    <stun_refresh_period>30</stun_refresh_period>
  </stun>
  <diagnostics>
    <enable_debug_log>false</enable_debug_log>
    <enable_extra_dmp>false</enable_extra_dmp>
    <enable_audio_debug>false</enable_audio_debug>
    <enable_verbose_event_logging>false</enable_verbose_event_logging>
  </diagnostics>
  <network>
    <signal_dscp>CS0</signal_dscp>
    <media_dscp>CS0</media_dscp>
    <ip_version_preference>auto</ip_version_preference>
  </network>
  <chat>
    <play_sound>true</play_sound>
    <hide_offline>false</hide_offline>
    <new_message_auto_popup>false</new_message_auto_popup>
    <new_message_blink>true</new_message_blink>
    <new_message_sound_file>NewMessage.wav</new_message_sound_file>
  </chat>
  <provision>
    <remember_username_password>false</remember_username_password>
    <login_automatically>false</login_automatically>
    <provisioned>false</provisioned>
  </provision>
  <popup>
    <check_for_focus>true</check_for_focus>
    <peer_status>true</peer_status>
    <im>true</im>
    <call>true</call>
    <voice_mail>true</voice_mail>
    <audio_device>true</audio_device>
    <network>true</network>
    <remote_call>true</remote_call>
    <use_native_popups>true</use_native_popups>
    <auto_close_time>15</auto_close_time>
  </popup>
  <video>
    <camera_device></camera_device>
    <capture_width>640</capture_width>
    <capture_height>480</capture_height>
    <capture_fps>5fps</capture_fps>
    <bit_rate>256000</bit_rate>
    <always_accept_video>false</always_accept_video>
  </video>
  <skin>
    <selected>Default</selected>
  </skin>
  <forwarding_and_auto_answer>
    <mode>answer_instant</mode>
    <forward_seconds>30</forward_seconds>
    <forward_extension></forward_extension>
    <autoanswer_seconds>30</autoanswer_seconds>
    <play_sound_on_auto_answer>true</play_sound_on_auto_answer>
    <auto_answer_keep_setting>false</auto_answer_keep_setting>
    <auto_answer_with_video>false</auto_answer_with_video>
    <accept_server_auto_answer>false</accept_server_auto_answer>
  </forwarding_and_auto_answer>
  <open_url_on_event/>
  <gui>
    <switch_contact_on_transfer>false</switch_contact_on_transfer>
    <enable_chat_support>true</enable_chat_support>
    <collapse_on_hangup>false</collapse_on_hangup>
    <language>pt_BR</language>
    <background></background>
    <auto_focus_window_on_incoming_chat>true</auto_focus_window_on_incoming_chat>
    <auto_focus_window_on_incoming_call>true</auto_focus_window_on_incoming_call>
    <custom_properties type="subtree">
      <devices_tested type="boolean">true</devices_tested>
    </custom_properties>
    <show_upgrade_wizard>false</show_upgrade_wizard>
  </gui>
  <profile>
    <last_online_manual_state>online</last_online_manual_state>
  </profile>
  <contact_services>
    <contact_service>
      <ident>ContactServiceLocal</ident>
      <name>Zoiper5 Contact Service</name>
      <type>local</type>
      <enabled>true</enabled>
      <account_mapping_type>default</account_mapping_type>
      <account_ident></account_ident>
      <presence_account_mapping_type>custom</presence_account_mapping_type>
      <presence_account_ident>Z6712fc2931b253a2de84874</presence_account_ident>
      <hide_contacts_without_name>false</hide_contacts_without_name>
      <hide_contacts_without_phone>false</hide_contacts_without_phone>
      <restart_time>30</restart_time>
    </contact_service>
  </contact_services>
  <crash_handler>
    <enabled>true</enabled>
    <upload_dumps>true</upload_dumps>
  </crash_handler>
  <proxy>
    <mode>disabled</mode>
    <custom_proxy>
      <hostname></hostname>
      <port>0</port>
      <username></username>
      <password></password>
    </custom_proxy>
    <username></username>
    <password></password>
  </proxy>
  <history>
    <limit_mode>default</limit_mode>
    <limit>2000</limit>
    <allowed_overflow_percent_mode>default</allowed_overflow_percent_mode>
    <allowed_overflow_percent>20</allowed_overflow_percent>
  </history>
  <shortcuts/>
</options>
