<?xml version="1.0" encoding="UTF-8"?>
<GlobalProtect>
	<PanMSAgent>
		<DebugLevel>5</DebugLevel>
		<PanGPS>5</PanGPS>
		<CDLLog>0</CDLLog>
	</PanMSAgent>
	<Settings>
		<ConfFromPortal>39980</ConfFromPortal>
		<ConfFromPortal3>28728369</ConfFromPortal3>
		<Configurations>154</Configurations>
		<OverrideMethod>allowed</OverrideMethod>
		<LastUrl>{{ vpn_url }}</LastUrl>
		<HipCheckInterval>0</HipCheckInterval>
		<UserOverrides>0</UserOverrides>
		<DisallowLocalAccess>false</DisallowLocalAccess>
		<DisplayWelcome>1</DisplayWelcome>
		<LocalBioEnabled>0</LocalBioEnabled>
		<LocalSSLEnabled>0</LocalSSLEnabled>
		<DisplayTrafficBlockingMsg>1</DisplayTrafficBlockingMsg>
		<OtherDisableStarted>0</OtherDisableStarted>
		<agent-user-override-timeout>0</agent-user-override-timeout>
		<ssl-only-selection>0</ssl-only-selection>
		<mfa-prompt-suppress-time>0</mfa-prompt-suppress-time>
		<Configurations2>47</Configurations2>
		<Configurations3>0</Configurations3>
		<InitRun>1</InitRun>
		<IncludeDebugLog>0</IncludeDebugLog>
		<DiagAndLog>0</DiagAndLog>
	</Settings>
	<Settings\vpn-office.golsat.com.br>
		<WasOD>1</WasOD>
		<LatestCP/>
		<username>{{ vpn_user }}</username>
	</Settings\vpn-office.golsat.com.br>
</GlobalProtect>
