[Desktop Entry]
Name=Sankhya
StartupWMClass=sankhya
Comment=Navegador Sankhya
GenericName=Internet Messenger
Exec=/home/{{ so_user }}/Sankhya/execNavegadorSankhya
Icon=/home/{{ so_user }}/Sankhya/resources/icon.png
Type=Application
Categories=Office
Path=/home/alex/Sankhya
Terminal=false
Hidden=false
